.h1 {
  text-align: center;
}

.h2 {
  text-align: center;
}

.note1 {
  color: aqua;
  text-align: center;
}

.note2 {
  text-align: center;
}

.note3 {
  color: green;
  text-align: center;
}

.note4 {
  text-align: center;
  color: purple;
}

.note5 {
  text-align: center;
}
